@use "./reset.scss";
@use "./variables.scss" as v;

@font-face {
    font-family: "Jet Brains Mono";
    src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Jet Brains Mono";
    src: url("./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

body {
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
    padding: 16px;
    box-sizing: border-box;
}

main {
    margin: auto;
}

h1 {
    color: v.$gray;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.password-output {
    padding: 16px;
    box-sizing: border-box;
    height: 64px;
    background-color: v.$light-black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        color: v.$light-green;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    img {
        width: 18px;
        height: 20px;
    }
}

section {
    color: v.$light-green;

    width: 100%;
    background-color: v.$light-black;

    padding: 16px;
    box-sizing: border-box;

    div {
        display: flex;
        align-items: center;
    }
}